@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: "League Spartan", sans-serif;
    max-width: 1440px;
    margin: auto;
    scroll-behavior: smooth;
  }
}

html,
body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  background:
    /* overlay glass */
    linear-gradient(
      135deg,
      rgba(28, 240, 67, 0.08),
      rgba(43, 43, 43, 0.12)
    ),

    /* FULL MOON TOP */
    radial-gradient(
      circle at 80% 20%,
      rgba(28, 240, 67, 0.55) 0%,
      rgba(28, 240, 67, 0.35) 18%,
      rgba(28, 240, 67, 0.12) 38%,
      transparent 30%
    ),

    /* FULL MOON BOTTOM */
    radial-gradient(
      circle at 10% 10%,
      rgba(28, 240, 67, 0.45) 0%,
      rgba(28, 240, 67, 0.2) 22%,
      transparent 24%
    ),

    /* subtle dark background */
    linear-gradient(
      180deg,
      rgba(255,255,255,0.02),
      rgba(0,0,0,0.03)
    );

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* DARK MODE */
.dark .bg {
  background:
    linear-gradient(
      135deg,
      rgba(28, 240, 67, 0.06),
      rgba(2, 6, 23, 0.95)
    ),

    /* glowing moon kanan */
    radial-gradient(
      circle at 80% 20%,
      rgba(28, 240, 67, 0.45) 0%,
      rgba(28, 240, 67, 0.25) 16%,
      rgba(28, 240, 67, 0.08) 34%,
      transparent 30%
    ),

    /* glowing moon kiri */
    radial-gradient(
      circle at 10% 10%,
      rgba(28, 240, 67, 0.35) 0%,
      rgba(28, 240, 67, 0.12) 22%,
      transparent 24%
    ),

    linear-gradient(
      180deg,
      rgba(15,23,42,0.96),
      rgba(2,6,23,1)
    );

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* app/globals.css */
html {
  scrollbar-width: thin;
  scrollbar-color: #006400 transparent;
}

/* WebKit */
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #006400;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #0a7a0a;
}

.card-glass {
  @apply bg-gradient-to-r backdrop-blur-md bg-primary/10 dark:bg-darkprimary/10 
         border justify-center border-primary dark:border-darkprimary 
         shadow-xl hover:shadow-sm dark:shadow-gray-700/25 
         transition-opacity duration-200 rounded-xl;
}
